DirectoryIndex index.html index.htm index.shtml index.php index.cgi
Options -Indexes
AuthUserFile /home/raymond1206/www/Raymond1206_Host/.htpasswd
AuthType Basic
AuthName "Web access"
Satisfy all
Order deny,allow
